.nav-list{
    display: inline-flexbox;
    background-color:gray;
    padding: 0%;
}

.nav-list-item{
  display: inline-block;
}

.nav-link{
  font-size: 20px;
  text-underline-offset: 10px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-decoration: none;
  align-items: initial;
  padding: 10px;
  display: inline;
}

.nav-nav{
    display: inline;
}