
      body {background-color: powderblue;}
      h1   {color: blue;}
      p    {color: red;}



      a.button4{
        
        padding:0.1em 0.4em;
        margin:0 0.1em 0.1em 0;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:0.5em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-size: 20px;
        font-weight:500;
        color:#FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align:center;
        transition: all 0.2s;
      }
        a.button4:hover{
        border-color: rgba(255,255,255,1);
      }
      @media all and (max-width:30em){
        a.button4{
        
        margin:0.2em auto;
        }
        }

      .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 5px;
      }
      .grid-item {
        padding: 5px;
        font-size: 25;
        color: black;
        text-align: center;
      }

      input {
        width: 100%;
        height:auto;
        font-size: 20px;
      }

      label{
        font-size: 20px;
      }

      select{
        font-size: 20px;
        width: fit-content
      }

      p{
        font-size: 20px;
        color: black;
      }
