<nav class="nav-nav">
    <ul class="nav-list">
        <li class="nav-list-item"><a class="nav-link" href="/">HOME</a></li>
        <li class="nav-list-item"><a class="nav-link" href="/login">LOGIN</a></li>
        <li class="nav-list-item"><a class="nav-link" href="/logout">LOGOUT</a></li>
    </ul>
</nav>