[Unit]
Description=seths_p2p App
After=network.target

[Service]
User=root
WorkingDirectory=home/sethz763/webrtcbyProject-1
ExecStart=/usr/bin/node home/sethz763/webrtcbyProject-1/pwserver.js
Restart=always

[Install]
WantedBy=multi-user.target