<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1">
		<title>Register</title>
        <!-- the form awesome library is used to add icons to our form -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <!-- include the stylesheet file -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="/css/login_style.css" rel="stylesheet">
		<link href="/css/nav.css" rel="stylesheet">
	</head>
	<body>
		<%- include('partials/nav') %>
		<div class="topPad">

		</div>
		<div class="login">
			<h1>REGISTER</h1>
			<form action="/reg" method="post"  id="myform" novalidate>
				
                <label for="email">
					<!-- font awesome icon -->
					<i class="fas fa-at"></i>
				</label>
				<input type="text" name="email" placeholder="Email Address" id="email" required>

				<label for="username">
					<!-- font awesome icon -->
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>

                <label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="reenterPassword" placeholder="Reenter Password" id="reenterPassword" required>

				<!-- <input type="submit" value="Register"> -->
				<button class=register_button id="submit_button">REGISTER</button>
                

			</form>
			
		</div>
		<p class="register-p">
		<label id="register_status"></label>
		</p>
		<script src="public/register.js" type="text/javascript"></script>
	</body>
</html>